<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/view_attendance.css">
    <title>View Attendance</title>
</head>
<body>
    <h1>Attendance Records</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for attendance in attendances %}
                <tr>
                    <td>{{ attendance.name }}</td>
                    <td>{{ attendance.date }}</td>
                    <td>{{ attendance.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
