<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/add_person.css">
    <title>Add Person</title>
</head>
<body>
    <div>
        <h1>Add a New Person</h1>
        
        <form method="POST" action="{{ url_for('main.add_person') }}">
            <label for="person_name">Person Name:</label>
            <input type="text" id="person_name" name="person_name" required>
            <button type="submit">Add Person</button>
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

</body>
</html>
