<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Attendance System</title>
</head>
<body>
    <h1>Vision Based Attendance System</h1>
    <ul>
        <li><a href="{{ url_for('main.add_person') }}">Add Person</a></li>
        <li><a href="{{ url_for('main.detect_person') }}">Detect Person</a></li>
        <li><a href="{{ url_for('main.view_attendance') }}">View Attendance</a></li>
        <li><a href="{{ url_for('main.delete_person') }}">Delete Person</a></li>
    </ul>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
